<html>
  <head>
    <title>Home Web-server</title>
  </head>
  <body>
    <h1>
      Hi I run this server on premise in Seattle, Washington, USA! This is me :)
      ->
    </h1>
    <p>
      For the sake of using golang I will tell you the time: {{ .TimeNow }}
    </p>

    <a href="https://hamdaan-rails-personal.herokuapp.com/">Visit Me Here Guys!</a>

    <div>
      <div>
        <h3> Tic-Tac-Toe Score Board</h3>
          <li>Total Games Won By X: {{.Xscore}}</li>
          <li>Total Games Won By O: {{.Oscore}}</li>
          <li>Total Games Drawn: {{.Drawscore}}</li>
      </div>

      <h3> On-going Game</h3>
      {{ range $rowId, $RowVal := .Board }}
        <div>
          {{range $colId, $cellVal := $RowVal}}
            {{ $cellVal }}  ({{ $rowId }}, {{ $colId }})
          {{ end }}
        </div>
      {{ end }}
    </div>
    
    <div>
      <h4>Enter Next Move For Player: {{.PlayerTurn}}</h4>
    </div>


    <form action="/tic-tac-toe-move">
      <div>
        <label for="row">Row </label>
        <input type="number" name="row" id="row" required>
      </div>
      <div>
        <label for="col">Col </label>
        <input type="number" name="col" id="col" required>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Make Move</button>
      </div>
    </form>
    

  </body>
</html>
